body {
  background-color: #f4dd56; /* Your chosen yellow color */
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-size: 30px;
  font-weight: 900;
  color: red;
}

.spinner {
  position: relative;
  width: 100%;
  max-width: 510px; /* Adjust as needed */
  height: 345px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.7); /* Red and orange box shadows */
}

.meal-details {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.7); /* Red and orange box shadows */
}

.meal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.7); /* Red and orange box shadows */
}

#mealName {
  font-size: 60px; /* Adjust as needed */
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: red;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.7); /* Red and orange box shadows */
}

.centered-button {
  display: block;
  margin: 0 auto;
  padding: 20px 40px; /* Adjust for button size */
  font-size: 24px; /* Increase font size for a bigger button */
  background-color: red; /* Your chosen red color */
  color: white; /* White text color */
  border: none;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.7); /* Red and orange box shadows */
}

.centered-button:hover {
  background-color: darkred; /* Change color on hover */
}

#mealRecipe {
  font-size: 24px; /* Adjust as needed */
  text-align: center;
  color: red;
  border: solid 1px red;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.7); /* Red and orange box shadows */
  margin: 20px 0;
  font-weight: 900;
}
#mealRecipe p {
  font-size: 24px;
  text-align: center;
  color: red;
  border: solid 1px red;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.7);
  margin: 20px 0;
  font-weight: 900;
}

#mealRecipe p li {
  list-style-type: disc; /* Use 'disc' or 'decimal' based on your preference */
  padding-left: 20px; /* Adjust the padding as needed */
}

button {
  max-height: 100px;
  max-width: 200px;
  font-size: 24px; /* Adjust as needed */
  color: red;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(255, 0, 0, 0.7); /* Red background color with transparency */
  border: none;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 165, 0, 0.7); /* Red and orange box shadows */
}

button:hover {
  background-color: rgba(255, 0, 0, 0.9); /* Change color on hover with more opacity */
}
  
  
  
  
  